# Triton builds
build/
build-*/

# Triton Python module builds
python/build/
python/dist/
python/*.egg-info/

python/bytedance/triton/_C/*.pyd
python/bytedance/triton/_C/*.so
python/bytedance/triton/_C/*.dylib

# Backends copied from submodules
python/bytedance/triton/backends/
!python/bytedance/triton/backends/__init__.py
!python/bytedance/triton/backends/compiler.py
!python/bytedance/triton/backends/driver.py

# Language extras
python/bytedance/triton/language/extra
!python/bytedance/triton/language/extra/__init__.py
!python/bytedance/triton/language/extra/libdevice.py

# Proton
python/bytedance/triton/profiler

# Instrumentation
python/bytedance/triton/instrumentation

# Python caches
__pycache__/
*.py[cod]
.pytest_cache

# Environments
.venv
venv/
venv.bak/

# VS Code project files
.vscode
.vs

# JetBrains project files
.idea
cmake-build-*

# Third-party binaries
cuobjdump
nvdisasm
ptxas

# Third-party include
third_party/nvidia/backend/include
third_party/nvidia/backend/lib/cupti

# Docs
docs/_build/
docs/python-api/generated/
docs/dialects/
docs/getting-started/tutorials
docs/sg_execution_times.rst
!python/tutorials/*.py
!python/tutorials/*.rst

# clangd index. (".clangd" is a config file now, thus trailing slash)
.clangd/
.cache
/compile_commands.json
.vscode
.vs

# Vim
*.swp

# macOS
.DS_Store
